body{
    font-family: "Arial", sans-serif;
    background-color: black;
    color: white;
}
nav ul li{
    display: inline;
}
nav{
    padding-top: 5px;
    padding-bottom: 30px;
}
nav ul li:nth-child(1){
    color: white;
    font-family: "Arial Black";
    font-size: 24px;
}
nav a{
    font-family: Arial;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: white;
    border: 2px solid black;
    border-radius: 5px 10px 5px 10px;
    padding: 0px 18px;
    background-color: none;
    transition: padding 500ms, border-radius 250ms, border 750ms, background-color 250ms, color 400ms;
}
nav a:hover{
    background-color: white;
    padding: 8px 18px;
    border-radius: 20px 20px 20px 20px;
    color: black;}
h1{
    text-align: center;
}
main{
    padding-left: 40px;
    padding-right: 40px;
}
#emo{
    width: 40%;
}
.ulinul{
    list-style-type: square;
}
.ulinul li{
    margin-bottom: 10px;
}
main a{
    font-family: Arial;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    border: 2px solid white;
    background-color: white;
    padding: 4px 12px;
    border-radius: 20px 20px 20px 20px;
    color: black;
    transition: background-color 600ms, background-image 900ms;
}
main a:hover{
    background-image: linear-gradient(white, bisque);
}
footer{
    text-align: center;
}